extends layout

block content
  if currentUser
    h1 Welcome, #{currentUser.fullname}!

    a(href="/new_message") Create a new message
  else 
    h1 Welcome, visitor!

  main
    each message in list_message 
      .message-box
        .title-box 
          h2= message.title 
        p= message.content
        if !(currentUser === undefined) && (currentUser.member_status == "member")
          p Author: #{message.author.fullname}
          p Time: #{message.timestamp}
          if currentUser.admin
            form(action="/del_message" method="POST")
              input(type="hidden", name="messageid" required="true" value=message._id)
              button Delete
        else 
          p Author: Anonymous 
          p Time: Unknown
        
  